## ARMA Fit (Übung)

Charakterisieren die drei Datenreihen und charakterisieren Sie sie nach dem ARMA Modell. 

* Schätzen Sie die Ordnung ab.
* Bestimmen Sie die Koeffizenten innerhalb der Ordnungen.

In [2]:
%reset -f

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

/home/rp/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [4]:
fn1 = 'data/ar_walk01.csv'
fn2 = 'data/ar_walk02.csv'
fn3 = 'data/ar_walk03.csv'

In [5]:
ds = pd.read_csv(fn1)

            AR
0     0.000000
1     0.000000
2     0.000000
3    -1.000000
4    -1.950000
...        ...
4995  2.552232
4996 -0.060233
4997 -3.090794
4998 -3.748114
4999 -5.816679

[5000 rows x 1 columns]